
@{
    ViewBag.Title = "ListaInscripcionDeportistas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="~/Scripts/APP/InscripcionDerportistas/ListaInscripcionDerportistas.js"></script>
<h2>Listado Inscripciones Deportistas</h2>
<div class="table-responsive row col-xl-12 ">
    <table class="table" id="datatable-incripciondeportista">
        <thead>
            <tr class="ColorTabla">
                <th>PROGRAMA DEPORTISTA</th>
                <th>TIPO IDENTIFICACION</th>
                <th>NUMERO IDENTIFICACION</th>
                <th>PRIMER NOMBRE</th>
                <th>SEGUNDO NOMBRE  </th>
                <th>PRIMER APELLIDO</th>
                <th>SEGUNDO APELLIDO</th>
                <th> FECHA NACIMIENTO  </th>
                <th> EDAD  </th>
                <th> PAIS DE NACIMIENTO  </th>
                <th> DEPARTAMENTO DE NACIMIENTO </th>
                <th> MUNICIPIO DE NACIMIENTO </th>
                <th> GENERO  </th>
                <th> GRUPO ETAREO </th>
                <th> DIRECCION DE RESIDENCIA </th>
                <th> BARRIO DE RESIDENCIA </th>
                <th> MUNICIPIO DE RESIDENCIA </th>
                <th> ESTRATO DE RESIDENCIA </th>
                <th> ZONA DE RESIDENCIA </th>
                <th> TELEFONO DE RESIDENCIA </th>
                <th> CORREO DE RESIDENCIA </th>
                <th> ESTADO CIVIL </th>
                <th> NIVEL DE ESTUDIO </th>
                <th> REGINMEN DE SALUD </th>
                <th> EPS </th>
                <th> TIPO DE SANGRE </th>
                <th> CONDICIONES DE POBLACION </th>
                <th> DISCAPACIDAD DE POBLACION </th>
                <th> GRUPO ETNICO </th>
                <th> DEPORTE </th>
                <th> NOMBRE ENTRENADOR </th>
                <th> NOMBRE CONTACTO </th>
                <th> TELEFONO DE CONTACTO </th>
                <th> CORREO DE CONTACTO </th>

            </tr>
        </thead>
    </table>
</div>
